<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center">
    <div class="mt-5">
        <p>Bienvenido a la aplicación web pokeAPI VGefe en ella realizaremos una pokedex basada en la API mas completa</p>
        <div class="d-flex justify-content-center align-content-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" alt="">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/132.png" alt="">
        </div>
        
    </div>
</div>
